<ion-view view-title="Chi Siamo">
    <ion-content overflow-scroll="true">
        <img src="img/home/header-center-olocco.jpg.png" style="width: {{width_header}}px"/>
        <div style="text-align: justify; margin: 10px; color: #11417F">
        <img src="img/home/2.jpg" style="float: left; margin: 10px; width: {{image1_width}}px"/>    <p style="font-weight: 700">Le nostre valvole trovano impiego nell’abbattimento, dosaggio e trasporto pneumatico di prodotti in polvere e granuli di qualunque tipo, nell’industria alimentare, chimica e plastica, su linee a bassa, media ed alta pressione.</p>
        <p>Produciamo <strong>valvole rotative, deviatori e componenti per il trasporto pneumatico ed il dosaggio </strong>dal 1950. Il nostro impegno si concretizza in una costante innovazione tecnologica e nella ricerca continua della qualità.</p>
          <img src="img/home/1.jpg" style="float:right; margin: 10px; width: {{image2_width}}px" />
        <p><strong>La Olocco S.r.l. </strong>si avvale nella progettazione e produzione dei propri componenti, delle più evolute e moderne tecnologie. <strong>Una valida Èquipe svolge costanti ricerche </strong>nella miglioria e nel rinnovamento della propria gamma prodotti, supportati da un moderno sistema <strong>CAD 3D</strong> ed un reparto produzione <strong>CNC</strong> di ultima generazione.</p>
        <p>Usiamo tecnologia avanzata per far si che i nostri prodotti per il <strong>trasporto pneumatico ed il dosaggio siano sempre all’avanguardia sia dal punto di vista delle soluzioni tecniche adottate sia da quello dell’affidabilità e sicurezza</strong>. Grazie alle minime tolleranze e ad accorgimenti tecnici specifici siamo in grado di venire incontro alle caratteristiche di ogni prodotto e ad ogni esigenza del cliente.</p>
        </div>
    </ion-content>
</ion-view>
